.desktop-header-kings {
  display: block;
}
.mobile-header-kings {
  display: none;
}

@media (max-width: 768px) {
  .desktop-header-kings {
    display: none !important;
  }
  .mobile-header-kings {
    display: block !important;
  }
}

.kings-catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

@media (max-width: 480px) {
  .kings-catalog-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 8px !important;
  }
}
